//Animations for header and button down.

@-webkit-keyframes hinge {
  0% {
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  20%,
  60% {
    -webkit-transform: rotate3d(0, 0, 1, 80deg);
    transform: rotate3d(0, 0, 1, 80deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  40%,
  80% {
    -webkit-transform: rotate3d(0, 0, 1, 60deg);
    transform: rotate3d(0, 0, 1, 60deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    opacity: 1;
  }

  to {
    -webkit-transform: translate3d(0, 700px, 0);
    transform: translate3d(0, 700px, 0);
    opacity: 0;
  }
}

@keyframes hinge {
  0% {
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  20%,
  60% {
    -webkit-transform: rotate3d(0, 0, 1, 80deg);
    transform: rotate3d(0, 0, 1, 80deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  40%,
  80% {
    -webkit-transform: rotate3d(0, 0, 1, 60deg);
    transform: rotate3d(0, 0, 1, 60deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    opacity: 1;
  }

  to {
    -webkit-transform: translate3d(0, 700px, 0);
    transform: translate3d(0, 700px, 0);
    opacity: 0;
  }
}

@-webkit-keyframes nudge {
  0% {
    -webkit-transform: translateY(-1.5rem);
    transform: translateY(-1.5rem);
  }
  50% {
    -webkit-transform: translateY(-0.5rem);        
    transform: translateY(-0.5rem);    
  }
  100% {
    -webkit-transform: translateY(-1.5rem);    
    transform: translateY(-1.5rem);    
  }
}

@keyframes nudge {
  0% {
    -webkit-transform: translateY(-1.5rem);    
    transform: translateY(-1.5rem);
  }
  50% {
    -webkit-transform: translateY(-0.5rem);            
    transform: translateY(-0.5rem);    
  }
  100% {
    -webkit-transform: translateY(-1.5rem);        
    transform: translateY(-1.5rem);    
  }
}

.header {
  min-height: 100vh;
  max-width: 80vw;
  margin: 0 auto;
  transform: .2s all;
  line-height: initial;  
  position: relative;

  @media screen and (max-width: 75em) {
    max-width: 90vw;
  }

  @media screen and (max-width: 56.25em) {
    padding: 0 1.5rem;
    position: relative;
    bottom: 2rem;
  } 

  @media screen and (max-width: 40.625em) {
    padding: 0 0.5rem;
  } 
}

.textContainer {
  position: absolute;
  top: 30%;

  @media screen and (max-width: 40.625em) {
    position: absolute;
    top: 25%;
  } 
}

.heading {
  font-size: 5rem;

  @media screen and (max-width: 56.25em) {
    font-size: 4.5rem;
  }

  @media screen and (max-width: 40.625em) {
    font-size: 3.5rem;
    padding-bottom: 0.5rem;
    line-height: 1.2;    
  } 

  span {
    display: block;
    padding: .3rem 0;
  }

  &__primary {
    color: rgb(171, 190, 230); 
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-name: hinge;
    animation-name: hinge;    
  }
  
  &__secondary {
    color: rgb(113, 144, 208); 
  }
}

.summary {
  font-size: 2rem;
  padding-top: 1rem;
  width: 50%;
  color: rgb(53, 84, 145);
  

  @media screen and (max-width: 56.25em) {
    width: 70%;     
  } 

  @media screen and (max-width: 40.625em) {
    font-size: 1.7rem;
    width: 90%;     
  } 
}

.btn_down {
  position: absolute;
  bottom: 12%;
  left: 50%;
  transition: translate(-50%);  
  -webkit-animation: nudge .9s infinite ease-out backwards;  
  animation: nudge .9s infinite ease-out backwards;
  backface-visibility: hidden;

  @media screen and (max-width: 51.8125em) {
    bottom: 7%;      
  } 

  @media screen and (max-width: 40.625em) {
    visibility: hidden; 
    display: none;  
  } 
}

.btn_up {
  position: fixed;
  bottom: 4%;
  left: 90%;
  backface-visibility: hidden;
  visibility: hidden;
  text-decoration: none;
  color: rgb(189, 188, 187);

  @media screen and (max-width: 40.625em) {
    visibility: hidden; 
    display: none;        
  } 

  span {
    margin-left: 1rem;
  }
}

.enableBtnUp {
  visibility: visible;  
  
  @media screen and (max-width: 40.625em) {
    visibility: hidden; 
    display: none;        
  } 
}