//Animations for nav

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.navigation {
    font-size: 1.3rem;
    animation: fade 1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    -webkit-animation: fade 1s cubic-bezier(0.895, 0.03, 0.685, 0.22); 

  &__checkbox {
    display: none;
  }

  &__button {
      display: none;
      background-color: #030041;
      

    @media screen and (max-width: 40.625em) {
      cursor: pointer;
      display: initial;      
      height: 7rem;
      width: 7rem;
      position: fixed;
      top: 4rem;
      right: 3rem;
      border-radius: 50%;
      z-index: 2000;
      box-shadow: 00 1rem 3rem rgba(0, 0, 0, 0.167);
      transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);
    }
  }

  &__background {
    display: none;

    @media screen and (max-width: 40.625em) {
      display: initial;
      height: 7rem;  
      width: 7rem;
      border-radius: 200px;
      position: fixed;
      top: 4rem;
      right: 3rem;
      z-index: 1000;
      transition: .3s all;
      background-color: #030041e9;
    }
  } 

  &__nav {
    font-weight: 700;   
    padding: 3rem;
    height: 7rem;
    width: 100%;
    position: fixed; 
    justify-content: space-between;
    background-color: darken(#030041, .3%);
    opacity: 1;
    z-index: 3000;
    transition: .3s all;
    visibility: visible;
  
    @media screen and (max-width: 40.625em) {
      z-index: 3000;
      background-color: transparent;
      opacity: 0;
      width: 0%;
      top: 0;
      left: 25%;
      transition: .05s all cubic-bezier(0.68, -0.55, 0.265, 1.55);
      display: none;
    }

    &__list {
      float: right;
      display: flex;
      justify-content: space-evenly;
      width: 55%;
      list-style-type: none;
      text-align: center;
      align-items: center;
      cursor: pointer;  
      color: rgb(189, 188, 187);
    
      @media screen and (max-width: 58.125em) {
        width: 70%;   
      }
    
      @media screen and (max-width: 40.625em) {
        flex-direction: column;
        align-content: space-around;
        width: 100%;
        height: 60vh;
        opacity: 1;
        z-index: 15;
        position: relative;
        top: 7rem;
      }
    }
    
    .listItem {
      width: 20%; 
      transition: .2s ease-in;
      padding: .3rem 0;
    
      @media screen and (max-width: 40.625em) {
        width: max-content;     
        background-image: linear-gradient(120deg, transparent 0%,
        transparent 50%, rgb(153, 153, 153) 50%);
        background-size: 250%;
        padding: 1rem;
      }
    
      & a {
        text-decoration: none;
        color: inherit; 
        height: 100%;
        
        span {
          margin-left: 1rem;
        }
      }

      &:hover,
      &:focus {
        color: #146da9;
        transform: scale(1.1, 1.2);  
        
        @media screen and (max-width: 40.625em) {
          color: darken(#030041, 1.5%);  
          background-position: 100%;
          transform: translateX(1rem);
        }
      }
    }
  }

  &__checkbox:checked ~ &__background {
    width: 85vw;
    height: 100vh;
    border-radius: 0;
    margin: -5rem;
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 65%;
    display: initial;
  }

  &__icon {
    position: relative;
    margin-top: 3.5rem;
    margin-left: 2rem;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: #777;
      display: inline-block;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      transform: all .2s;
    }

    &::before {
      top: -.8rem;
    }

    &::after {
      top: .8rem;
    }
  }
  
  &__button:hover &__icon::before {
    top: -1rem;
  }

  &__button:hover &__icon::after {
    top: 1rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    transform: rotate(135deg);
    top: 0;
  }

  &__checkbox:checked + &__button &__icon::after {
    transform: rotate(-135deg);
    top: 0;
    
  }
}

.active {
  color: #146da9;
  transform: scale(1.1, 1.2); 
  
  @media screen and (max-width: 40.625em) {
    color: rgb(189, 188, 187);
  }
}