.tabsContainer {
  display: flex;
  flex-direction: column;
  line-height: initial;  
}

.headContainer {
  display: flex;
}

.head__button {
  font-size: 1.5rem;
  width: fit-content;
  background-color: transparent;  
  font-weight: 600;  
  padding: .7rem .3rem .7rem .3rem;  
  margin-right: 1rem; 
  letter-spacing: .5px; 
  border: none;    
  outline: none;  
  border-bottom: 1px solid rgba(119, 119, 119, 0.213);
  transition: .2s ease-out;
  color: rgb(189, 188, 187);      

  @media (max-width: 40.625em) {
  }

  &:hover {
    background-color: rgba(119, 119, 119, 0.349);
  }

  &:focus {
    transform: scaleX(1.02);
    color: #146da9;
    border-bottom: 1px solid #146da9;
  }
}
  
.contentContainer {
  margin: 2rem 3rem 0 0;
  font-weight: 500;

  @media (max-width: 40.625em) {
    margin: 1.5rem 3rem 0 0;
  }
}

.currentTab {
  transform: scaleX(1.02);  
  color: #146da9;
  border-bottom: 1px solid #146da9;
}
    